P.GlossaryTerm {MARGIN: 2pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 11pt; }

P.StyleHeading1ArialNarrow12ptCenteredFirstline0 {TEXT-ALIGN: center;  MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 12pt;  FONT-WEIGHT: bold; }

P.Note21 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleHeading2JustifiedAfter1line2 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 12pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

SPAN.Heading3CharChar1 {FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold; }

P.LeftMargin {LINE-HEIGHT: 12pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

SPAN.ResearchLater {BORDER-BOTTOM: windowtext 1pt;  BORDER-LEFT: windowtext 1pt;  PADDING-BOTTOM: 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Times New Roman","serif";  BACKGROUND: #ffff99;  COLOR: red;  BORDER-TOP: windowtext 1pt;  FONT-WEIGHT: bold;  BORDER-RIGHT: windowtext 1pt;  PADDING-TOP: 0pt; }











TT {FONT-FAMILY: "Courier New"; }

P.MsoAutoSig {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoBodyTextIndent2 {LINE-HEIGHT: 200%;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

SPAN.MsoEndnoteReference {VERTICAL-ALIGN: super; }

P.MsoTof {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoToc7 {MARGIN: 0pt 0pt 0pt 72pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoIndex5 {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 60pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 9pt; }

H5 {PAGE-BREAK-AFTER: avoid;  FONT-STYLE: italic;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 12pt;  FONT-WEIGHT: bold; }

P.MsoNormal {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

SPAN.C1HPopupText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none;  BACKGROUND: #ccffff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

SPAN.C1HTopicProperties {DISPLAY: none;  COLOR: purple; }

P.C1HBullet2A {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.ListTable {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt; }

P.LeftMargin21 {LINE-HEIGHT: 12pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

SPAN.Heading3CharChar2 {FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold; }

P.StyleHeading2JustifiedAfter1line3 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN-TOP: 12pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN-LEFT: 0pt;  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  MARGIN-RIGHT: 0pt;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.StyleStyleHeading2JustifiedAfter1lineAfter1line1 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.ChapterTitle1 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 28pt;  FONT-WEIGHT: bold; }

P.StepNumber1 {MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt; }

P.BulletContent {TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 0pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }






P.MsoQuote {FONT-STYLE: italic;  MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  FONT-SIZE: 10pt; }

P.MsoListParagraph {MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }








P.MsoBlockText {MARGIN: 0pt 72pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoBodyTextIndent3 {MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 8pt; }


P.MsoCommentText {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoNormalIndent {MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoToc8 {MARGIN: 0pt 0pt 0pt 84pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoIndex6 {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 72pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 9pt; }

H6 {MARGIN: 12pt 0pt 3pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.C1SectionEnd {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.C1HInlineDropdown {COLOR: teal;  TEXT-DECORATION: underline;  text-underline: single; }

SPAN.C1HLinkTag {COLOR: #3366ff; }

P.NotationIcon {TEXT-ALIGN: right;  MARGIN: 12pt 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt; }

P.Bulleted1 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 12pt 90pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt;  tab-stops: list 90.0pt; }

P.Bulleted {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 12pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  tab-stops: list 18.0pt; }

P.ChapterTitle2 {TEXT-ALIGN: justify;  MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 28pt;  FONT-WEIGHT: bold; }

P.StyleHeading3After1line1 {PAGE-BREAK-AFTER: avoid;  MARGIN: 5pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #ff6600;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

SPAN.LeftMarginChar1 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

P.StyleSteps1 {TEXT-ALIGN: right;  MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.Graphicexplanation1 {LINE-HEIGHT: 9pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.StepNumber {MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt; }

P.StyleNotationAreaCenteredBefore1lineAfter1line {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: center;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  BACKGROUND: #f3f3f3;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.Illustration {PAGE-BREAK-AFTER: avoid;  MARGIN: 9pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }









SAMP {FONT-FAMILY: "Courier New"; }

SPAN.MsoHyperlinkFollowed {COLOR: purple;  TEXT-DECORATION: underline;  text-underline: single; }

P.MsoToc9 {MARGIN: 0pt 0pt 0pt 96pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoIndex7 {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 84pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 9pt; }

P.Style2 {MARGIN: 0pt;  FONT-FAMILY: "Arial Black","sans-serif";  FONT-SIZE: 8pt; }

SPAN.C1HPopup {FONT-STYLE: italic;  COLOR: green; }

P.C1HBullet2 {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.SuperTitle {BORDER-BOTTOM: medium none;  TEXT-ALIGN: right;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 48pt 0pt 0pt 72pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.ChapterTitle21 {TEXT-ALIGN: justify;  MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 28pt;  FONT-WEIGHT: bold; }

P.ChapterTitle3 {TEXT-ALIGN: justify;  MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 28pt;  FONT-WEIGHT: bold; }

P.Notes1 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  WORD-BREAK: break-all; }

SPAN.Note1Char {FONT-FAMILY: "Arial Narrow","sans-serif"; }

SPAN.LeftMarginChar2 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

P.StyleNotes {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.SeeAlsoGreenArrow {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.Picture {TEXT-ALIGN: right;  MARGIN: 12pt 0pt 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.NumberRed {TEXT-ALIGN: right;  MARGIN-TOP: 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: maroon;  MARGIN-LEFT: 0pt;  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  MARGIN-RIGHT: 0pt; }

SPAN.Style1 {FONT-FAMILY: "MS Mincho";  FONT-WEIGHT: bold; }










ADDRESS {FONT-STYLE: italic;  MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListContinue {MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoToaHeading {MARGIN: 6pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.MsoFooter {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 486.0pt; }

P.MsoIndex8 {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 96pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 9pt; }

SPAN.C1HConditional {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  BACKGROUND: #d9d9d9;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

P.C1HContinue {MARGIN: 5.75pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.SourceTop {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 5.75pt 0pt 0pt 36pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 8pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

P.FiguresTable {MARGIN: 7pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt; }

SPAN.LeftMarginChar3 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

P.Notes2 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  WORD-BREAK: break-all; }

P.StyleNormal111 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.ChapterTitle11 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 28pt;  FONT-WEIGHT: bold; }

P.Note {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 9pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.Caption-Figure {FONT-STYLE: italic;  MARGIN: 3pt 0pt 8pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt;  tab-stops: 180.0pt 198.0pt; }

P.Explanation {FONT-STYLE: italic;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: #0000cc;  FONT-SIZE: 10pt; }

P.StyleHeading2JustifiedAfter1line {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

SPAN.CaptionFigureText {FONT-FAMILY: "Arial Narrow","sans-serif"; }









P.MsoClosing {MARGIN: 0pt 0pt 0pt 216pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoCaption {FONT-STYLE: italic;  MARGIN: 3pt 0pt 8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 180.0pt 198.0pt; }

P.MsoIndex9 {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 108pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 9pt; }

P.MsoHeading7 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.CaptionTable {FONT-STYLE: italic;  MARGIN: 3pt 0pt 8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 180.0pt 198.0pt; }

P.BodyTable {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.GlossaryHeading {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

P.C1HNumber {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt; }

SPAN.Note1Char1 {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.StyleSteps2RightBefore18ptAfter18pt {TEXT-ALIGN: right;  FONT-FAMILY: "Arial","sans-serif";  MARGIN-LEFT: 0pt;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  MARGIN-RIGHT: 0pt; }

P.StyleNormal112 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.StyleLeftMargin {LINE-HEIGHT: 12pt;  MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.NotationArea {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 5pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  BACKGROUND: #f3f3f3;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.MissingInfo {FONT-STYLE: italic;  MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: #ffcc00;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.Definition {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.TableColumnLeft {LINE-HEIGHT: 12pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

SPAN.Command {FONT-WEIGHT: bold; }










P.MsoBodyText2 {MARGIN: 5.75pt 0pt 0pt 28.35pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 54.0pt; }

P.MsoListBullet {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoHeading8 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.C1SectionExpanded {PAGE-BREAK-AFTER: avoid;  MARGIN: 15pt 0pt 0.7pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

SPAN.C1HVariable {FONT-STYLE: italic;  COLOR: #993300; }

P.HeaderBase {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.Figures {MARGIN: 7pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt; }

P.StyleHeading2JustifiedAfter1line21 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 12pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.StyleHeading3After1line {PAGE-BREAK-AFTER: avoid;  MARGIN: 5pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #ff6600;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.Graphicexplanation {LINE-HEIGHT: 9pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.HeadingBase {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.CodeExplained {MARGIN: 5.75pt 0pt 2pt 36pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt; }










P.MsoBodyText3 {MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 8pt; }


P.MsoHeader {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold;  tab-stops: right 486.0pt; }

P.MsoHeading9 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.GlossaryHeadingnoautolinks {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #993300;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

SPAN.C1HKeywordLink {COLOR: olive;  TEXT-DECORATION: underline;  text-underline: single; }

P.MidTopic {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.C1HNumber2 {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

SPAN.C1HGroupInvisible {FONT-STYLE: italic;  DISPLAY: none;  COLOR: olive; }

P.MarginNote {FONT-STYLE: italic;  MARGIN: 6.1pt 21.6pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.C1HGroup {FONT-STYLE: italic;  COLOR: olive; }

P.IndexBase {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.StyleLeftMargin1 {LINE-HEIGHT: 12pt;  MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.StyleHeading2JustifiedAfter1line11 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 18.1pt 0pt 2.15pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.StepNumber11 {MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt; }









P.MsoCommentSubject {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }


KBD {FONT-FAMILY: "Courier New"; }


P.MsoListContinue2 {MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoSignature {MARGIN: 0pt 0pt 0pt 216pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.JumpBase {MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.C1HNumber3 {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.C1HInlineExpand {COLOR: teal; }

P.List2Table {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.Numbered1 {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.StyleLeftMargin2 {LINE-HEIGHT: 12pt;  MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.StyleNormal21 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.Notes {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  WORD-BREAK: break-all; }

P.StyleCaption-FigureNotBold {FONT-STYLE: italic;  MARGIN: 3pt 0pt 8pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 180.0pt 198.0pt; }

P.StyleNormal1 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.BodyTextTable {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.Revision-Summary0 {FONT-STYLE: italic;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.Revision-Summary {TEXT-ALIGN: justify;  FONT-STYLE: italic;  MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }











P.MsoPlainText {MARGIN: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt; }

EM {FONT-FAMILY: "MS Mincho"; }

P.MsoSubtitle {TEXT-ALIGN: center;  MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 12pt; }

P.MsoMessageHeader {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  TEXT-INDENT: -54pt;  MARGIN: 0pt 0pt 0pt 54pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  BACKGROUND: #cccccc;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.MsoListContinue3 {MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListBullet2 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoEndnoteText {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoEnvelopeAddress {MARGIN: 0pt 0pt 0pt 144pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt; }

SPAN.HTML {COLOR: green; }

P.JumpfromList {MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.C1HExpandText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none;  BACKGROUND: #ccffff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

SPAN.C1HIndex {COLOR: olive; }

P.TableHeading {MARGIN: 3pt 3.6pt 3pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.RelatedHead {MARGIN: 6pt 0pt 3pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: fuchsia;  FONT-SIZE: 12pt;  FONT-WEIGHT: bold; }

P.footerodd {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 486.0pt; }

P.ByLine {TEXT-ALIGN: right;  MARGIN: 12.1pt 0pt 36.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

P.StyleNotes21 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleNormal22 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.StyleNormal11 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.StyleNormal2 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

SPAN.FootingChar {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

P.StyleChapterTitleLeft02 {MARGIN: 0pt 0pt 0pt 14.4pt;  DISPLAY: none;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 28pt; }

P.Notation {MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }









SPAN.MsoHyperlink {COLOR: blue;  TEXT-DECORATION: underline;  text-underline: single; }

P.MsoListContinue4 {MARGIN: 0pt 0pt 0pt 72pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListBullet3 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoIndexHeading {PAGE-BREAK-AFTER: avoid;  MARGIN: 15.1pt 0pt 6.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.C1HSectionExpanded {PAGE-BREAK-AFTER: avoid;  MARGIN: 15pt 0pt 0.7pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

SPAN.C1HIndexInvisible {DISPLAY: none;  COLOR: olive; }

P.Source {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 0pt 0pt 0pt 36pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 8pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

P.Caption-Desc {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt; }

P.Steps21 {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.StyleNormal12 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.StyleNormal3 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.StyleNotes11 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleHeading3JustifiedLeft4ch11 {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: justify;  FONT-STYLE: italic;  MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.StyleNotes1 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.Note1 {MARGIN: 12pt 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt; }

P.StyleHeading3JustifiedLeft4ch1 {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: justify;  FONT-STYLE: italic;  MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.StyleStyleHeading2JustifiedAfter1lineAfter1line {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

SPAN.LeftMarginChar {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

P.Bulletedlist {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Book Antiqua","serif";  FONT-SIZE: 12pt;  tab-stops: 27.0pt; }

P.TableTitle {MARGIN: 12pt 0pt 6pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  BACKGROUND: #f3f3f3;  FONT-SIZE: 12pt;  FONT-WEIGHT: bold; }

P.Indentedbullet {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Book Antiqua","serif";  FONT-SIZE: 12pt;  tab-stops: 27.0pt; }

P.CodeBase {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt; }








P.MsoNoSpacing {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }




P.MsoBodyTextFirstIndent {TEXT-INDENT: 10.5pt;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.MsoListContinue5 {MARGIN: 0pt 0pt 0pt 90pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListBullet4 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

SPAN.MsoCommentReference {}

P.MsoFootnoteText {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.C1HSectionCollapsed {PAGE-BREAK-AFTER: avoid;  MARGIN: 15pt 0pt 0.7pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

P.KeywordLink {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 6pt 0pt 3pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: fuchsia;  FONT-SIZE: 12pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

SPAN.C1HContextID {DISPLAY: none;  COLOR: fuchsia; }

SPAN.C1HLinkTagInvisible {DISPLAY: none;  COLOR: #3366ff; }

SPAN.NoteChar2 {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.Note2 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleNotes2 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleHeading3JustifiedLeft4ch2 {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: justify;  MARGIN: 12pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.BulletContent1 {TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 12pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.StyleHeading2After1line {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.StyleSteps {TEXT-ALIGN: right;  MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.NotationGraphic {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: right;  MARGIN: 5pt 0pt 3pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.NumberRight {TEXT-ALIGN: right;  MARGIN-TOP: 12pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN-LEFT: 0pt;  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  MARGIN-RIGHT: 0pt; }

P.TitlewoOutline {TEXT-ALIGN: justify;  MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 20pt;  FONT-WEIGHT: bold; }










P.MsoListBullet5 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoEnvelopeReturn {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt; }

P.MsoToc1 {MARGIN: 12.25pt 0pt 5.75pt 72pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 12pt;  FONT-WEIGHT: bold;  tab-stops: right 486.0pt; }

P.JumpfromContents {MARGIN: 1pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.TOCTitle {PAGE-BREAK-AFTER: avoid;  MARGIN: 48pt 0pt 24pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 30pt;  FONT-WEIGHT: bold; }

SPAN.C1HGroupLink {FONT-STYLE: italic;  COLOR: olive;  TEXT-DECORATION: underline;  text-underline: single; }

P.TableText {MARGIN: 2pt 3.6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt; }

P.StyleHeading3Before1lineAfter1line {PAGE-BREAK-AFTER: avoid;  MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.InfoBlue {LINE-HEIGHT: 12pt;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 10pt; }

SPAN.NoteChar3 {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.Note3 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleNotes3 {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt; }

P.StyleHeading3JustifiedLeft4ch3 {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: justify;  MARGIN: 12pt 0pt 5pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.BulletContent2 {TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 12pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.Steps1 {MARGIN-TOP: 12pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN-LEFT: 0pt;  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  MARGIN-RIGHT: 0pt; }

P.LeftMarginNumber1 {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 8pt;  FONT-WEIGHT: bold; }

P.StyleNormal {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

SPAN.Caption-FigureCharChar {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.NotationHeader {MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }










P.MsoDocumentMap {MARGIN: 0pt;  FONT-FAMILY: "Tahoma","sans-serif";  BACKGROUND: navy;  FONT-SIZE: 10pt; }

P.MsoNoteHeading {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoSalutation {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoTitle {TEXT-ALIGN: right;  MARGIN: 12.1pt 0pt 36.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 36pt;  FONT-WEIGHT: bold; }

P.MsoListNumber2 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoList2 {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoToa {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 12pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoToc2 {MARGIN: 0pt 0pt 0pt 108pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 486.0pt; }

P.BulletedList0 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 24.75pt;  FONT-FAMILY: "Book Antiqua","serif";  FONT-SIZE: 12pt;  tab-stops: list 26.65pt left 28.9pt; }

SPAN.C1HDropdownText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none;  BACKGROUND: #ccffff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

SPAN.C1HOnline {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  BACKGROUND: #99ccff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

P.C1HBullet {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt; }

P.TableBorder {LINE-HEIGHT: 2pt;  MARGIN: 2pt 0pt 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.headereven {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold;  tab-stops: right 486.0pt; }

P.BulletContent3 {TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 12pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.CaptionNumber {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.Steps2 {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.LeftMarginNumber2 {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 8pt;  FONT-WEIGHT: bold; }

SPAN.FootingChar1 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

P.LeftMargin1 {LINE-HEIGHT: 12pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.Footing {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.LeftMarginNumber {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 8pt;  FONT-WEIGHT: bold; }

SPAN.BulletedItem {FONT-FAMILY: "MS Mincho"; }

P.StepDescription {TEXT-ALIGN: justify;  MARGIN: 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }








CODE {FONT-FAMILY: "Courier New"; }

P.MsoBodyTextIndent {MARGIN: 0pt 0pt 6pt 14.15pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListNumber3 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoList3 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoList {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt; }

P.MsoMacroText {MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt; }

P.MsoToc3 {MARGIN: 0pt 0pt 0pt 144pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 486.0pt; }

P.MsoIndex1 {TEXT-INDENT: -21.6pt;  MARGIN: 0pt 0pt 0pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

H1 {PAGE-BREAK-AFTER: avoid;  MARGIN: 48.1pt 0pt 84.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 30pt;  FONT-WEIGHT: bold; }

P.C1SectionCollapsed {PAGE-BREAK-AFTER: avoid;  MARGIN: 15pt 0pt 0.7pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

P.C1HPopupTopicText {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.C1HJump {COLOR: green; }

P.footereven {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 486.0pt; }

SPAN.D2HNoGloss {}

P.StyleNotationBefore1lineAfter1line {MARGIN: 12pt 0pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt; }

SPAN.NoteChar21 {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.BulletContent21 {TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 12pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.Steps3 {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.LeftMarginNumber3 {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 8pt;  FONT-WEIGHT: bold; }

P.LeftMargin2 {LINE-HEIGHT: 12pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.StyleHeading2After1line1 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

SPAN.NoteChar {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.StyleHeading3JustifiedLeft4ch {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: justify;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

SPAN.Placeholder {FONT-STYLE: italic; }

P.TOCBase {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }









PRE {MARGIN: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 45.8pt 91.6pt 137.4pt 183.2pt 229.0pt 274.8pt 320.6pt 366.4pt 412.2pt 458.0pt 503.8pt 549.6pt 595.4pt 641.2pt 687.0pt 732.8pt; }

P.MsoDate {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListNumber4 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoList4 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 72pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoListNumber {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

SPAN.MsoFootnoteReference {VERTICAL-ALIGN: super; }

P.MsoToc4 {MARGIN: 0pt 36pt 0pt 108pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 408.0pt; }

P.MsoIndex2 {TEXT-INDENT: -14.4pt;  MARGIN: 0pt 0pt 0pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

H2 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  MARGIN: 18.1pt 0pt 2.15pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.BulletedListindent {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 49.05pt;  FONT-FAMILY: "Book Antiqua","serif";  FONT-SIZE: 12pt;  tab-stops: list 49.05pt; }

P.WhatsThis {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

SPAN.C1HInlinePopup {FONT-STYLE: italic;  COLOR: teal;  TEXT-DECORATION: underline;  text-underline: single; }

SPAN.C1HManual {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  BACKGROUND: #ccffcc;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

P.C1HContinue2 {MARGIN: 5.75pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.Jump {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: fuchsia;  FONT-SIZE: 10pt;  TEXT-DECORATION: underline;  text-underline: double; }

P.StyleCaptionNumberNotBold1 {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt; }

P.LeftMarginNumber21 {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 8pt;  FONT-WEIGHT: bold; }

P.LeftMargin3 {LINE-HEIGHT: 12pt;  MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.BulletContent11 {TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 12pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.StyleCaptionNumberNotBold {MARGIN: 0pt 0pt 12pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-SIZE: 11pt; }

P.StyleCaptionCentered {FONT-STYLE: italic;  MARGIN: 3pt 0pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 180.0pt 198.0pt; }

P.StyleHeading2After1line2 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.Footing1 {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

SPAN.Heading3CharChar {FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold; }

P.FigureName {LINE-HEIGHT: 12pt;  MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.MarginalNote-Symbol {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 12pt; }

P.Caption-Graphic {PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: right;  MARGIN: 12pt 0pt 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.DocumentTitle {TEXT-ALIGN: center;  MARGIN: 0pt 0pt 60pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 48pt;  FONT-WEIGHT: bold; }




P.MsoIntenseQuote {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 10pt 46.8pt 14pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: #4f81bd;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }





P.MsoListNumber5 {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoList5 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 90pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoToc5 {MARGIN: 0pt 0pt 0pt 40pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoIndex3 {TEXT-INDENT: -7.2pt;  MARGIN: 0pt 0pt 0pt 21.6pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

H3 {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: blue;  FONT-SIZE: 16pt;  FONT-WEIGHT: bold; }

P.C1HSectionEnd {PAGE-BREAK-AFTER: avoid;  MARGIN: 15pt 0pt 0.7pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

SPAN.C1HContentsTitle {COLOR: #993300; }

P.headerodd {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold;  tab-stops: right 486.0pt; }

P.StyleHeading2After1line3 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN-TOP: 12pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN-LEFT: 0pt;  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  MARGIN-RIGHT: 0pt;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.NumberedParagraph1 {MARGIN: 0pt 0pt 12pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 11pt; }

P.NumberedParagraph {MARGIN: 0pt 0pt 12pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.Steps {MARGIN: 5pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

P.StyleHeading2JustifiedAfter1line1 {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  TEXT-ALIGN: justify;  BORDER-LEFT: medium none;  PAGE-BREAK-BEFORE: always;  PADDING-BOTTOM: 0pt;  MARGIN: 18.1pt 0pt 18pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.MsoBibliography {MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }











P.MsoBodyTextFirstIndent2 {TEXT-INDENT: 10.5pt;  MARGIN: 0pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoBodyText {MARGIN: 5.75pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.MsoToc6 {MARGIN: 0pt 0pt 0pt 50pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt; }

P.MsoIndex4 {TEXT-INDENT: -12pt;  MARGIN: 0pt 0pt 0pt 48pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 9pt; }

H4 {PAGE-BREAK-AFTER: avoid;  MARGIN: 15pt 0pt 0.7pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

